<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 专辑视频管理 -->

<head>
    <meta charset="UTF-8"/>
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/albumVideoManager.css}" media="all">
    <!-- hander  -->
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/utils/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/duanshipin/js/albumVideoManager.js}"></script>
</head>

<body>
<div class="dialog_wrapper" id="dialog_loginout_wrapper" style="z-index: 2008;">
    <div class="dialog">
        <div class="dialog_header">
            <span class="login-dialog-title">选择视频</span>
        </div>
        <div class="dialog_body">
            <div class="dialog-form-item">
                <div><span>视频id：</span><input style="width: 80px;height: 20px">
                    <span>视频标题：</span><input style="width: 80px;height: 20px">
                    <button style="float: right">
                        搜索
                    </button>
                </div>
            </div>
            <div id="dialog-content">

            </div>
            <div style="height: 30px">
                <img src="/duanshipin/img/last_page.png" alt="" class="last_page" style="width: 10px;height: 15px;
                margin-top: 10px" onclick="previousPage()"/>
                <ul class="page_select_ul" id="dialog_page_select_ul">
                </ul>
                <img src="/duanshipin/img/next_page.png" alt="" class="last_page" style="width: 10px;height: 15px;
                margin-top: 10px" onclick="nextPage()"/>
            </div>
        </div>
    </div>
</div>
<div class="body">
    <script type="text/javascript">
        writeHander()
    </script>
    <div class="content">
        <div class="main_content">
            <div class="title">
                <span>专辑视频管理</span>
            </div>
            <div class="title_line"></div>
            <div class="controll_bar clearfix" id="controll_recommend">
                <div class="controll_operation_two">
                    <span>视频标题：</span>
                    <input type="text" id="select-title">
                    <span>视频ID：</span>
                    <input type="text" id="select-id">
                    <button class="btn-search" onclick="select()">查询</button>
                    <div class="fr controll-operation-two-fr">
                        <button class="btn-search" onclick="addDialogShow()">添加</button>
                        <button class="btn-search" onclick="toDelete()">删除</button>
                        <img src="/duanshipin/img/img_fresh.png" alt=""
                             class="fresh" onclick="getVideoList()"/>
                    </div>
                </div>
            </div>
            <div class="table_div" id="table-content">
            </div>
            <div class="page_select" id="page_select">
                <div class="page_select_inner">
                    <span>共</span>
                    <span id="page-total-mun"></span>
                    <span>条</span>
                    <span class="page_select_position_one">每页</span>
                    <span id="page-size" class="page_input_mun"></span>
                    <span>条</span>
                    <img src="/duanshipin/img/last_page.png" alt="" class="last_page" onclick="previousPage()"/>
                    <ul class="page_select_ul" id="page_select_ul">
                    </ul>
                    <img src="/duanshipin/img/next_page.png" alt="" class="last_page" onclick="nextPage()"/>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            writeLeft()
            writeLeftTwoOfLeft()
        </script>
    </div>
</div>
</body>
<script type="text/javascript">
    getVideoList()
</script>

</html>