<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 发布专辑 -->

<head>
    <meta charset="UTF-8"/>
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/publishAlbum.css}" media="all">
    <!-- hander  -->
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/utils/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/duanshipin/js/utils/dropload.min.js}"></script>
    <script th:src="@{/duanshipin/js/editAlbum.js}"></script>
</head>

<body>
<div class="body">
    <script type="text/javascript">
        writeHander()
    </script>
    <div class="content">
        <div class="main_content">
            <div class="full-content" style="height:100%;overflow-y:scroll; overflow-x:hidden;">
                <div class="title">
                    <span>发布专辑</span>
                </div>
                <div class="title_line"></div>
                <div class="form">
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">
                            专辑标题：
                        </label>
                        <div class="from-item-content from-item-publish-content">
                            <input type="text" name="title" id="form-title">
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">
                            专辑简介：
                        </label>
                        <div class="from-item-content">
                            <textarea name="introduction" type="text" id="input-intro"></textarea>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">上传封面：</label>
                        <div class="from-item-content">
                            <input type="file" name="cover" id="img-file"
                                   class="inputfile" style="display: none;"
                                   onchange="changepic(this)" accept="image/png, image/jpeg,image/jpg"/>
                            <label for="img-file" class="choose-book">选择课本封面</label>
                            <img src="/duanshipin/img/default_kb.jpeg" class="form-img-upload" id="show" alt="">
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">集数：</label>
                        <div class="from-item-content">
                            <input type="text" id="total-mun"></div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">是否完结：</label>
                        <div class="from-item-content">
                            <input type="radio" name="isEnd" value="2" style="width: 20px;height: 15px;">
                            <span class="form-input-isEnd-span">未完结</span>
                            <input type="radio" name="isEnd" value="1" style="width: 20px;height: 15px;"
                                   checked="checked">
                            <span class="form-input-isEnd-span">完结</span></div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">导演：</label>
                        <div class="from-item-content">
                            <input type="text" name="lname" id="director"/>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">主演：</label>
                        <div class="from-item-content">
                            <input type="text" name="lname" id="performer"/></div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">一级标签：</label>
                        <div class="from-item-content">
                            <div class="div-select" id="div-select-value" onclick="dialogGetList()"
                                 style="width: 100%;height: 40px"></div>
                            <div class="one-tag-dialog" id="one-tag-dialog" style="display: none">
                                <div class="select_inner two-inner" id="select_list">
                                    <div id="select_item">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">二级标签：</label>
                        <div class="from-item-content">
                            <div class="div-select" id="div-select-value-two-tag" onclick="getTwoTagList(this)"
                                 style="width: 100%;height: 40px"></div>
                            <div class="one-tag-dialog" id="two-tag-dialog" style="display: none;height: 175px">
                                <div class="select_inner inner" id="two-select_list">
                                    <div id="two-select_item">

                                    </div>
                                </div>
                                <div style="float: right;">
                                    <button style="height: 25px;" onclick="enterTwoTag()">确定</button>
                                    <button style="margin-left: 10px;margin-right:10px;height: 25px;" >取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">三级标签：</label>
                        <div class="from-item-content">
                            <div class="div-select" id="div-select-value-three-tag" onclick="getThreeTagList(this)"
                                 style="width: 100%;height: 40px"></div>
                            <div class="one-tag-dialog" id="three-tag-dialog" style="display: none;height: 175px">
                                <div class="select_inner three-inner" id="three-select_list">
                                    <div id="three-select_item">

                                    </div>
                                </div>
                                <div style="float: right;">
                                    <button style="height: 25px;" onclick="enterThreeTag()">确定</button>
                                    <button style="margin-left: 10px;margin-right:10px;height: 25px;" >取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">绑定用户：</label>
                        <div class="from-item-content">
                            <input id="robotId" type="text" name="lname" readonly="readonly"/>
                            <button class="form-btn-upload" onclick="getRobotAdminList()">选取机器人</button>
                            <div class="one-tag-dialog" id="robot-tag-dialog" style="display: none;">
                                <div class="select_inner robot-inner" id="robot-select_list">
                                    <div id="robot-select_item">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <label class="dialog-form-item-label">屏蔽搜索：</label>
                        <div class="from-item-content">
                            <input type="radio" name="isSelect" value="1" style="width: 20px;height: 15px;">
                            <span class="form-input-isEnd-span">是</span>
                            <input type="radio" name="isSelect" value="2" checked="checked"
                                   style="width: 20px;height: 15px;">
                            <span class="form-input-isEnd-span">否</span>
                        </div>
                    </div>
                    <div class="dialog-form-item">
                        <div class="from-item-content">
                            <button class="form-btn-upload" onclick="publishAlbum()">保存</button>
                            <button class="form-btn-upload" onclick="back()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            writeLeft()
            writeLeftTwoOfLeft()
            init()
        </script>
    </div>
</div>
<div class="dialog_wrapper" id="dialog-wrapper" onclick="hideDialog()">

</div>
</body>


</html>