<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 标签管理 -->

<head>
    <meta charset="UTF-8"/>
    <title>视频管理平台</title>
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/tags.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/utils/jquery-3.3.1.min.js}"></script>
</head>

<body>
<div class="body">
    <script type="text/javascript">
        writeHander()
        writeLoginLayout()
    </script>
    <div class="content">
        <div class="main_content">
            <div class="title">
                <span>标签管理</span>
            </div>
            <div class="title_line"></div>
            <div class="category">
                <button class="tags-one" id="tags-one" onclick="oneTagsClick()">一级标签</button>
                <button class="tags-two" id="tags-two" onclick="twoTagsClick()">二级标签</button>
                <button class="tags-three" id="tags-three" onclick="threeTagsClick()">三级标签</button>
            </div>
            <div class="controll_bar clearfix" id="controll_draf">
                <button class="list_controll" onclick="showAddDialog()">
                    新增标签
                </button>
                <div class="list_search">
                    <span>标签名称：</span>
                    <input type="text" class="input_zj_title"/>
                    <div class="btn_list_search">查询</div>
                    <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh" onclick="getTagList()"/>
                </div>
            </div>
            <div class="table_div" id="table-content">
            </div>
                <!--<table class="content_table">-->
                    <!--<tr>-->
                        <!--<th>-->
                            <!--<span class="table_id table_th">标签ID</span>-->
                        <!--</th>-->
                        <!--<th id="table-th-tags-one">-->
                            <!--<span class="table_title table_th">一级标签</span>-->
                        <!--</th>-->
                        <!--<th id="table-th-tags-two">-->
                            <!--<span class="table_title table_th">二级标签</span>-->
                        <!--</th>-->
                        <!--<th id="table-th-tags-three">-->
                            <!--<span class="table_title table_th">三级标签</span>-->
                        <!--</th>-->
                        <!--<th>-->
                            <!--<span class="table_time table_th">最后操作时间</span>-->
                        <!--</th>-->
                        <!--<th>-->
                            <!--<span class="table_user table_th">操作人</span>-->
                        <!--</th>-->
                        <!--<th>-->
                            <!--<span class="table_controll table_th">操作</span>-->
                        <!--</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<span class="table_id"> 987123 </span>-->
                        <!--</td>-->
                        <!--<td id="table-td-tags-one">-->
                            <!--<span class="table_title">一级标签</span>-->
                        <!--</td>-->
                        <!--<td id="table-td-tags-two">-->
                            <!--<span class="table_title">二级标签</span>-->
                        <!--</td>-->
                        <!--<td id="table-td-tags-three">-->
                            <!--<span class="table_title">三级标签</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span class="table_time"> 2018-11-28 14:01:19 </span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<span class="table_user"> xxx@yy-inc.cn </span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<div class="table_content_controll">-->
                                <!--<a href="#">删除</a>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            </div>
            <div class="page_select" id="page_select">
                <div class="page_select_inner">
                    <span>共</span>
                    <span>100</span>
                    <span>条</span>
                    <span class="page_select_position_one">每页</span>
                    <input type="number" class="page_input_mun"/>
                    <span>条</span>
                    <img src="/duanshipin/img/last_page.png" alt="" class="last_page"/>
                    <ul class="page_select_ul">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>...</li>
                        <li>10</li>
                    </ul>
                    <img src="/duanshipin/img/next_page.png" alt="" class="last_page"/>
                    <span class="page_select_position_two">前往</span>
                    <input type="number" class="page_input_to_mun"/>
                    <span>页</span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            writeLeft()
            writeLeftTwoOfLeft()
        </script>
    </div>
</div>
<div class="dialog_wrapper" id="dialog_loginout_wrapper" style="z-index: 2008;">
    <div class="dialog">
        <div class="dialog_header">
            <span class="login-dialog-title">新增标签</span>
        </div>
        <div class="dialog_body">
            <div class="dialog-form-item">
                <label style="width:120px">
                    父标签：
                </label>
                <div class="from-item-content" style="margin-left:120px">
                    <select class="select_label select_font" id="dialog_select">

                    </select>
                </div>
            </div>
            <div class="dialog-form-item">
                <label id="dialog-content" style="width:120px">
                    标签名称：
                </label>
                <div class="from-item-content" style="margin-left:120px">
                    <input type="text" id="input-intro">
                </div>
            </div>
            <div class="dialog-form-item">
                <div class="from-item-content" style="margin-left:120px">
                    <button class="dialog-form-btn-save" id="dialog_loginout_enter"
                            onclick="addTag()">确定</button>
                    <button class="dialog-form-btn-cancel" id="dialog_loginout_cancel"
                            onclick="addDialogCancel()">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/duanshipin/js/tags.js}"></script>
<script type="text/javascript">
    initView()
    getTagList()
</script>
</html>