<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 标签管理 -->

<head>
    <meta charset="UTF-8"/>
    <title>视频管理平台</title>
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/tags.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/utils/dropload.css}" media="all">
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/utils/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/duanshipin/js/utils/dropload.min.js}"></script>
</head>

<body>
<div class="body">
    <script type="text/javascript">
        writeHander()
        writeLoginLayout()
    </script>
    <div class="content">
        <div class="main_content">
            <div class="title">
                <span>标签管理</span>
            </div>
            <div class="title_line"></div>
            <div class="category">
                <button class="tags-one" id="tags-one" onclick="oneTagsClick()">一级标签</button>
                <button class="tags-two" id="tags-two" onclick="twoTagsClick()">二级标签</button>
                <button class="tags-three" id="tags-three" onclick="threeTagsClick()">三级标签</button>
            </div>
            <div class="controll_bar clearfix" id="controll_draf">
                <button class="list_controll" onclick="showAddDialog()">
                    新增标签
                </button>
                <div class="list_search">
                    <span>标签名称：</span>
                    <input type="text" class="input_zj_title" id="select-name"/>
                    <div class="btn_list_search" onclick="select()" style="cursor: pointer;">查询</div>
                    <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh" onclick="getTagList()"/>
                </div>
            </div>
            <div class="table_div" id="table-content">
            </div>
            <div class="page_select" id="page_select">
                <div class="page_select_inner">
                    <span>共</span>
                    <span id="page-total-mun"></span>
                    <span>条</span>
                    <span class="page_select_position_one">每页</span>
                    <span id="page-size" class="page_input_mun"></span>
                    <span>条</span>
                    <img src="/duanshipin/img/last_page.png" alt="" class="last_page" onclick="previousPage()"/>
                    <ul class="page_select_ul" id="page_select_ul">
                    </ul>
                    <img src="/duanshipin/img/next_page.png" alt="" class="last_page" onclick="nextPage()"/>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            writeLeft()
            writeLeftTwoOfLeft()
        </script>
    </div>
</div>
</div>
<div class="dialog_wrapper" id="dialog_loginout_wrapper" style="z-index: 2008;">
    <div class="dialog">
        <div class="dialog_header">
            <span class="login-dialog-title">新增标签</span>
        </div>
        <div class="dialog_body">
            <div class="dialog-form-item">
                <label style="width:120px">
                    父标签：
                </label>
                <div class="from-item-content" style="margin-left:120px">
                    <div class="select_label" id="dialog_select" onclick="dialogGetList()">
                        <div style="padding-left: 15px;" id="select-item_value" value="-1">根目录</div>
                    </div>
                    <div class="select_inner inner" id="select_list" style="display: none;">
                        <div id="select_item">
                            <div class="select_font">根目录</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-form-item">
                <label id="dialog-content" style="width:120px">
                    标签名称：
                </label>
                <div style="margin-left:120px">
                    <input type="text" id="input-intro">
                </div>
            </div>
            <div class="dialog-form-item">
                <div style="margin-left:120px">
                    <button class="dialog-form-btn-save" id="dialog_loginout_enter"
                            onclick="addTag()">确定
                    </button>
                    <button class="dialog-form-btn-cancel" id="dialog_loginout_cancel"
                            onclick="addDialogCancel()">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/duanshipin/js/tags.js}"></script>
<script type="text/javascript">
    initView();
    getTagList();
</script>
</html>