<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 运营视频管理 -->

<head>
    <meta charset="UTF-8"/>
    <title>视频管理平台</title>
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/videoOperation.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">

    <!-- hander  -->
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/utils/jquery-3.3.1.min.js}"></script>
</head>

<body>
<div class="body">
    <script type="text/javascript">
        writeHander()
    </script>
    <div class="content">
        <div class="main_content">
            <div class="title">
                <span>视频管理</span>
            </div>
            <div class="title_line"></div>
            <div class="title_bar">
                <a href="#" class="operate_video_pool" id="operate_video_pool">运营视频池</a>
                <a href="/views/content/videoUser" class="user_video_pool" id="user_video_pool">用户视频池
                </a>
            </div>
            <div class="category">
                <div class="online" id="online" onclick="btnOnlineClick">上线</div>
                <div class="draf" id="draf" click="btnDrafClick">草稿</div>
                <div class="recycle_bin" id="recycle_bin">回收站</div>
                <div class="recommend" id="recommend">推荐</div>
            </div>
            <!-- 上线按钮显示的布局 -->
            <div class="controll_bar clearfix" id="controll_online">
                <div class="controll_online_left">
                    <span>视频标题：</span>
                    <input type="text" id="online-select-title">
                    <span>视频ID：</span>
                    <input type="text" id="online-select-id">
                    <button onclick="select()">查询</button>
                </div>
                <div class="fr controll_online_right">
                    <button onclick="toRecommend()">推荐</button>
                    <button onclick="toRecycler()">删除</button>
                    <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh" onclick="getVideoList()"/>
                </div>
            </div>
            <!-- 草稿按钮显示的布局 -->
            <div class="controll_bar clearfix" id="controll_draf">
                <button class="list_controll">
                    <a href="publishVideo">发布视频</a>
                </button>
                <button class="list_controll" id="draf-controll-online" onclick="toOnline()">
                    上线
                </button>
                <div class="list_search">
                    <span>视频标题：</span>
                    <input type="text" class="input_zj_title" id="draf-select-title"/>
                    <span>视频ID：</span>
                    <input type="text" class="input_zj_id" id="draf-select-id"/>
                    <div class="btn_list_search" onclick="select()">查询</div>
                    <div class="btn_list_search">删除</div>
                    <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh" onclick="getVideoList()"/>
                </div>
            </div>
            <!-- 回收站按钮显示的布局 -->
            <div class="controll_bar clearfix" id="controll_recycle_bin">
                <div class="controll_recycle_bin_left">
                    <span>视频标题：</span>
                    <input type="text" id="recycle-select-title">
                    <span>视频ID：</span>
                    <input type="text" id="recycle-select-id">
                    <button onclick="select()">查询</button>
                </div>
                <div class="fr controll_recycle_bin_right">
                    <button onclick="toOnline()">还原视频</button>
                    <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh" onclick="getVideoList()"/>
                </div>
            </div>
            <!-- 推荐池按钮显示的布局 -->
            <div class="controll_bar clearfix" id="controll_recommend">
                <div class="controll_recommend_left">
                    <span>视频标题：</span>
                    <input type="text" id="recommend-select-title">
                    <span>视频ID：</span>
                    <input type="text" id="recommend-select-id">
                    <button onclick="select()">查询</button>
                </div>
                <div class="fr controll_recommend_right">
                    <button>取消推荐</button>
                    <button>删除</button>
                    <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh" onclick="getVideoList()"/>
                </div>
            </div>
            <div class="table_div" id="table-content">
            </div>
            <div class="page_select" id="page_select">
                <div class="page_select_inner">
                    <span>共</span>
                    <span id="page-total-mun"></span>
                    <span>条</span>
                    <span class="page_select_position_one">每页</span>
                    <span id="page-size" class="page_input_mun"></span>
                    <span>条</span>
                    <img src="/duanshipin/img/last_page.png" alt="" class="last_page" onclick="previousPage()"/>
                    <ul class="page_select_ul" id="page_select_ul">
                    </ul>
                    <img src="/duanshipin/img/next_page.png" alt="" class="last_page" onclick="nextPage()"/>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            writeLeft()
            writeLeftTwoOfLeft()
        </script>
    </div>
</div>
</body>
<script th:src="@{/duanshipin/js/videoOperation.js}">
</script>
<script type="text/javascript">
    init();
    getVideoList();
</script>
</html>