<!DOCTYPE html>
<html lang="en">
<!-- app -> 广告页管理 -->

<head>
    <meta charset="UTF-8" />
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="../../../static/css/project.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/css/views/commonLayout.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/css/views/adManage.css" type="text/css" />
    <!-- hander  -->
    <script src="../../../static/js/commonLayout.js" type="text/javascript"></script>
</head>

<body>
    <div class="body">
        <script type="text/javascript">
            writeHander()
        </script>
        <div class="content">
            <div class="main_content">
                <div class="title">
                    <span>广告页管理</span>
                </div>
                <div class="title_line"></div>
                <div class="title_bar">
                    <a href="#" class="operate_video_pool" id="online">上线</a>
                    <a href="#" class="user_video_pool" id="draf">草稿</a>
                    <a href="#" class="user_video_pool" id="recycle-bin">回收站</a>
                </div>
                <!-- 上线按钮显示的布局 -->
                <div class="controll_bar clearfix" id="controll_online">
                    <div class="controll_online_left">
                        <span>标题：</span>
                        <input type="text">
                        <button>查询</button>
                    </div>
                    <div class="fr controll_online_right">
                        <img src="../../../static/img/img_fresh.png" alt="" class="fresh" />
                    </div>
                </div>
                <!-- 草稿按钮显示的布局 -->
                <div class="controll_bar clearfix" id="controll_draf">
                    <button class="list_controll">
                        <a href="adCreate.html">创建启动广告</a>
                    </button>
                    <div class="list_search">
                        <span>标题：</span>
                        <input type="text" class="input_zj_title" />
                        <span>视频ID：</span>
                        <input type="text" class="input_zj_id" />
                        <div class="btn_list_search">上线</div>
                        <div class="btn_list_search">查询</div>
                        <img src="../../../static/img/img_fresh.png" alt="" class="fresh" />
                    </div>
                </div>
                <!-- 回收站按钮显示的布局 -->
                <div class="controll_bar clearfix" id="controll_recycle">
                    <div class="controll_online_left">
                        <span>标题：</span>
                        <input type="text">
                        <button>查询</button>
                    </div>
                    <div class="fr controll_online_right">
                        <img src="../../../static/img/img_fresh.png" alt="" class="fresh" />
                    </div>
                </div>
                <div class="table_div">
                    <table class="content_table">
                        <tr>
                            <th>
                                <input type="checkbox" name="" id="" class="table_checkbox" />
                            </th>
                            <th>
                                <span class="table_id table_th"> 视频ID </span>
                            </th>
                            <th>
                                <span class="table_title table_th"> 视频标题 </span>
                            </th>
                            <th>
                                <span class="table_introducation table_th"> 视频简介 </span>
                            </th>
                            <th>
                                <span class="table_img table_th"> 缩略图 </span>
                            </th>
                            <th>
                                <span class="table_mun table_th">基础数据</span>
                            </th>
                            <th>
                                <span class="table_time table_th"> 最后操作时间 </span>
                            </th>
                            <th>
                                <span class="table_user table_th"> 操作人 </span>
                            </th>
                            <th id="table-control-item-th">
                                <span class="table_controll table_th"> 操作 </span>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" class="table_checkbox" />
                            </td>
                            <td>
                                <span class="table_id"> 987123 </span>
                            </td>
                            <td>
                                <span class="table_title"> 办公室爆笑锦集 </span>
                            </td>
                            <td>
                                <span class="table_introducation">
                                    这是一份简介占位这是一份简介占位这是一份简介占位这是一份简介占位~
                                </span>
                            </td>
                            <td>
                                <img src="../../../static/img/tx.jpg" alt="" class="table_content_img" />
                            </td>
                            <td>
                                <span class="table_mun">
                                    <span>播放量：12.5w</span>
                                    <br />
                                    <span>点赞数：123</span>
                                </span>
                            </td>
                            <td>
                                <span class="table_time"> 2018-11-28 14:01:19 </span>
                            </td>
                            <td>
                                <span class="table_user"> xxx@yy-inc.cn </span>
                            </td>
                            <td id="table-control-item-td">
                                <div class="table_content_controll">
                                    <div id="table_controll_one">
                                        <a href="adCreate.html">修改</a>
                                        <a href="#">删除</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="page_select" id="page_select">
                    <div class="page_select_inner">
                        <span>共</span>
                        <span>100</span>
                        <span>条</span>
                        <span class="page_select_position_one">每页</span>
                        <input type="number" class="page_input_mun" />
                        <span>条</span>
                        <img src="../../../static/img/last_page.png" alt="" class="last_page" />
                        <ul class="page_select_ul">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>...</li>
                            <li>10</li>
                        </ul>
                        <img src="../../../static/img/next_page.png" alt="" class="last_page" />
                        <span class="page_select_position_two">前往</span>
                        <input type="number" class="page_input_to_mun" />
                        <span>页</span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                writeLeft();
                writeAppLeftControl();
            </script>
        </div>
    </div>
</body>
<script src="../../../static/js/adManage.js" type="text/javascript"></script>

</html>