.title_bar{
    height: 50px;
    width: 100%;
    background-color: #333;
}
.logo{
    position: relative;
    height: 35px;
    width: 35px;
    top: 7.5px;
    margin-left: 20px;
}
.logo_title_span{
    position: relative;
    line-height: 50px;
    vertical-align: top;
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
}
.home_bar_ul{
    position: relative;
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}
.home_bar_ul li{
    display: inline-block;
    color: #fff;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}
