/* 列表栏 */
.title_bar{
    width: auto;
    height: 45px;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #f6f6f6;
    border-radius: 2px;
}
.operate_video_pool{
    display: inline-block;
    width: 80px;
    line-height: 30px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #44c9a8;
    margin-top: 7.5px;
}
.user_video_pool{
    display: inline-block;
    width: 80px;
    line-height: 30px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
}
.category{
    margin-top: 5px;
}
.online{
    display: inline-block;
    line-height: 25px;
    width: 80px;
    height: 25px;
    margin-left: 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #44c9a8;
}
.draf{
    display: inline-block;
    line-height: 25px;
    width: 80px;
    height: 25px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
}
.recycle_bin{
    display: inline-block;
    line-height: 25px;
    width: 80px;
    height: 25px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
}
.recommend{
    display: inline-block;
    line-height: 25px;
    width: 80px;
    height: 25px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
}
.controll_bar{
    height: 35px;
    line-height: 35px;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #f6f6f6;
    border-radius: 2px;
    overflow: hidden;
}
.list_controll{
    height: 35px;
    display: inline-block;
    margin-left: 25px;
}
.list_controll div{
    border-radius: 5px;
    color: #fff;
    background-color: #169bd5;
    display: inline-block;
    width: 80px;
    height: 25px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.list_search{
    float: right;
}
.list_search span{
    color: #333;
    font-size: 14px;
    margin-left: 5px;
}
.fresh{
    margin-left: 10px;
}
.input_zj_title{
    height: 25px;
    width: 150px;
    border: 1px solid #666;
}
.input_zj_id{
    height: 25px;
    width: 150px;
    border: 1px solid #666;
}
.list_search button{
    height: 25px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #fff;
}
.list_search img{
    height: 25px;
    width: 25px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.content_table{
    border-collapse:collapse;
    margin-left: 15px;
    margin-top: 10px;
}
.content_table th{
    background-color: #EBEBEB;
}
.table_checkbox{
    width: 50px;
}
.table_id{
    display: block;
    width: 150px;
    text-align: center;
}
.table_title{
    display: block;
    width: 150px;
}
.table_introducation{
    display: block;
    width: 250px;
}
.table_img{
    display: block;
    width: 100px;
    text-align: center;
}
.table_content_img{
    width: 50px;
    margin-left: 25px;
}
.table_mun{
    display: block;
    width: 100px;  
}
.table_time{
    display: block;
    width: 130px;  
}
.table_user{
    display: block;
    width: 100px;  
}
.table_controll{
    display: block;
    width: 115px;  
    text-align: center;
}
.table_content_controll{
    display: block;
    width: 80px;  
    text-align: center;
    margin: 0 auto;
}
.table_th{
    height: 50px;
    line-height: 50px;
}
.content_table tr th{
    text-align: left;
}
.table_content_controll a{
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
.content_table tr td{
    height: 70px;
}
.page_select{
    height: 30px;
    margin-top: 15px;
}
.page_select_inner{
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    width: 700px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.page_select_ul{
    height: 30px;
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.page_input_mun{
    display: inline-block;
    height: 25px;
    width: 30px;
    border: 1px solid #666;
}
.page_select_position_one{
    margin-left: 10px;
}
.last_page{
    height: 20px;
    width: 20px;
    display: inline-block;
}
.page_input_to_mun{
    height: 25px;
    width: 30px;
    border: 1px solid #666;
}
.page_select_position_two{
    margin-left: 10px;
}
.page_select_ul li{
    float: left;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #333;
}
.btn_last_page{
    background: 50% no-repeat;
    background-size: 16px;
    background-color: #fff;
    cursor: pointer;
    margin: 0;
    color: #303133;
}