.form{
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}
.from-item-publish-content{
    width: 400px;
}
#input-intro{
    height: 120px;
    line-height: 1px;
}
.form-btn-upload{
    display: inline-block;
}
.form-img-upload{
    width: 100px;
    display: inline-block;
}
.form-img-upload{
    width: 250px;
    height: 250px;
}