<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljf.duanshipin.mapper.AlbumMapper">

    <resultMap id="BaseResultMap" type="com.ljf.duanshipin.domain.Album">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="img_src" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="total_mun" property="totalMun" jdbcType="INTEGER"/>
        <result column="current_mun" property="currentMun" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" javaType="DATE"/>
        <result column="update_admin_id" property="updateAdminId" jdbcType="BIGINT"/>
        <result column="update_admin_name" property="updateAdminName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="is_complete" property="isComplete" jdbcType="INTEGER"/>
        <result column="director" property="director" jdbcType="VARCHAR"/>
        <result column="one_class_tag_id" property="oneClassTagId" jdbcType="VARCHAR"/>
        <result column="two_class_tag_ids" property="twoClassTagIds" jdbcType="VARCHAR"/>
        <result column="three_class_tag_ids" property="threeClassTagIds" jdbcType="VARCHAR"/>
        <result column="publish_admin_id" property="publishAdminId" jdbcType="BIGINT"/>
        <result column="is_block_search" property="isBlockSearch" jdbcType="INTEGER"/>
        <result column="is_user_publish" property="isUserPublish" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,title,introduction,img_src,total_mun,current_mun,create_time,update_time
            ,update_admin_id,update_admin_name,type,is_complete,director,
            one_class_tag_id,two_class_tag_ids,three_class_tag_ids,publish_admin_id
          ,is_block_search,performer,is_user_publish
    </sql>

    <insert id="insert" parameterType="com.ljf.duanshipin.domain.Album">
        INSERT INTO album(title,introduction,img_src,total_mun,current_mun,create_time,update_time
            ,update_admin_id,update_admin_name,type,is_complete,director,one_class_tag_id,
            two_class_tag_ids,three_class_tag_ids,publish_admin_id,is_block_search,performer,is_user_publish)
            VALUES(#{title},#{introduction},#{imgSrc},#{totalMun},#{currentMun},#{createTime}
        ,#{updateTime},#{updateAdminId},#{updateAdminName},#{type},#{isComplete},#{director},
        #{oneClassTagId},#{twoClassTagIds},#{threeClassTagIds},#{publishAdminId},#{isBlockSearch},
        #{performer},#{isUserPublish})
    </insert>

    <select id="getAlbumList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from album where 1=1
        <if test="type != null and type != '' ">
            and type = #{type}
        </if>
        <if test="isUserPublish != null and isUserPublish != '' ">
            and is_user_publish = #{isUserPublish}
        </if>
    </select>

    <update id="toOnline" parameterType="java.util.List">
        update album set album.type = 1 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="toRecommend" parameterType="java.util.List">
        update album set album.type = 4 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="toRecycler" parameterType="java.util.List">
        update album set album.type = 3 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <delete id="deleteForids" parameterType="java.util.List">
        DELETE from album WHERE id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from album where album.type = #{arg2}
        <if test="arg1 != null and arg1 != '' ">
            and title like '%${arg1}%'
        </if>
        <if test="arg0 != null">
            and id = #{arg0}
        </if>
        <if test="arg2 != null">
            and id = #{arg2}
        </if>
    </select>

    <select id="getInfoById" resultType="com.ljf.duanshipin.domain.Album">
        SELECT
        <include refid="Base_Column_List"/>
        FROM album WHERE id = #{id}
    </select>
</mapper>