<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljf.duanshipin.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.ljf.duanshipin.domain.Video">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" javaType="DATE"/>
        <result column="controller_admin_id" property="controllerAdminId" jdbcType="BIGINT"/>
        <result column="number_of_plays" property="numberOfPlays" jdbcType="INTEGER"/>
        <result column="number_of_goods" property="numberOfGoods" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="is_user_publish" property="isUserPublish" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,introduction,img,create_time,update_time,
            controller_admin_id,number_of_plays,number_of_goods,
            type,is_user_publish
    </sql>

    <insert id="insert" parameterType="com.ljf.duanshipin.domain.Video">
    INSERT INTO video(title,introduction,img,create_time,update_time,
            controller_admin_id,number_of_plays,number_of_goods,
            type,is_user_publish) VALUES(
            #{title},#{introduction},#{img},#{createTime},#{updateTime},
            #{controllerAdminId},#{numberOfPlays},#{numberOfGoods},#{type},#{isUserPublish})
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from video where id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video where id = #{id}
    </select>
</mapper>