<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljf.duanshipin.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.ljf.duanshipin.domain.Video">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" javaType="DATE"/>
        <result column="controller_admin_id" property="controllerAdminId" jdbcType="BIGINT"/>
        <result column="number_of_plays" property="numberOfPlays" jdbcType="INTEGER"/>
        <result column="number_of_goods" property="numberOfGoods" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="is_user_publish" property="isUserPublish" jdbcType="INTEGER"/>
        <result column="updateAdminName" property="user_name" jdbcType="VARCHAR"/>
        <result column="publish_admin_id" property="publishAdminId" jdbcType="BIGINT"/>
        <association property="admin" javaType="com.ljf.duanshipin.domain.Admin">
            <result column="user_name" property="userName" jdbcType="VARCHAR"/>
            <result column="real_name" property="realName" jdbcType="VARCHAR"/>
            <result column="phone" property="phone" jdbcType="VARCHAR"/>
            <result column="status" property="status" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="DATE"/>
            <result column="last_update_time" property="lastUpdateTime" javaType="DATE"/>
            <result column="role_id" property="roleId" jdbcType="BIGINT"/>
            <result column="last_control_admin_id" property="lastControlAdminId" jdbcType="BIGINT"/>
            <result column="password" property="password" jdbcType="VARCHAR"/>
            <result column="account" property="account" jdbcType="VARCHAR"/>
            <result column="is_robot" property="isRobot" jdbcType="INTEGER"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,introduction,img,create_time,update_time,
            controller_admin_id,number_of_plays,number_of_goods,
            type,is_user_publish
    </sql>

    <insert id="insert" parameterType="com.ljf.duanshipin.domain.Video">
    INSERT INTO video(title,introduction,img,create_time,update_time,
            controller_admin_id,number_of_plays,number_of_goods,
            type,is_user_publish) VALUES(
            #{title},#{introduction},#{img},#{createTime},#{updateTime},
            #{controllerAdminId},#{numberOfPlays},#{numberOfGoods},#{type},#{isUserPublish})
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from video where id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video where id = #{id} left join admin
        on video.controller_admin_id = admin.id
    </select>

    <select id="getListByType" resultMap="BaseResultMap">
        select * from video v left join admin a
        on (v.controller_admin_id = a.id) where type = #{type}
        <if test="isUserPublish != null and isUserPublish != ''">
            and is_user_publish = #{isUserPublish}
        </if>
    </select>

    <update id="toOnline" parameterType="java.util.List">
        update video set video.type = 1 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="toRecommend" parameterType="java.util.List">
        update video set video.type = 4 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="toRecycler" parameterType="java.util.List">
        update video set video.type = 3 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <delete id="deleteForids" parameterType="java.util.List">
        DELETE from video WHERE id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video where video.type = #{type}
        <if test="title != null and title != '' ">
            and title like '%${title}%'
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="isUserPublish != null">
            and is_user_publish = #{isUserPublish}
        </if>
        <if test="publishAdminName != null and publishAdminName != ''">
            and publish_admin_id in (select id from admin where user_name = #{publishAdminName})
        </if>
    </select>
</mapper>