<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljf.duanshipin.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.ljf.duanshipin.domain.Video">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" javaType="DATE"/>
        <result column="controller_admin_id" property="controllerAdminId" jdbcType="BIGINT"/>
        <result column="number_of_plays" property="numberOfPlays" jdbcType="INTEGER"/>
        <result column="number_of_goods" property="numberOfGoods" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="is_user_publish" property="isUserPublish" jdbcType="INTEGER"/>
        <result column="one_class_tag_id" property="oneClassTagId" jdbcType="VARCHAR"/>
        <result column="director" property="director" jdbcType="VARCHAR"/>
        <result column="performer" property="performer" jdbcType="VARCHAR"/>
        <result column="two_class_tag_ids" property="twoClassTagIds" jdbcType="VARCHAR"/>
        <result column="three_class_tag_ids" property="threeClassTagIds" jdbcType="VARCHAR"/>
        <result column="is_block_search" property="isBlockSearch" jdbcType="INTEGER"/>
        <result column="publish_admin_id" property="publishAdminId" jdbcType="BIGINT"/>
        <association property="admin"
                     select="com.ljf.duanshipin.mapper.AdminMapper.getAdminById"
                     javaType="com.ljf.duanshipin.domain.Admin"
                     column="publish_admin_id">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,introduction,img,create_time,update_time,
            controller_admin_id,number_of_plays,number_of_goods,
            type,is_user_publish,director,one_class_tag_id,performer,
            two_class_tag_ids,three_class_tag_ids,is_block_search
    </sql>

    <insert id="insert" parameterType="com.ljf.duanshipin.domain.Video">
    INSERT INTO video(title,introduction,img,create_time,update_time,
    controller_admin_id,number_of_plays,number_of_goods,
    type,is_user_publish,director,one_class_tag_id,performer,
    two_class_tag_ids,three_class_tag_ids,is_block_search,
    publish_admin_id) VALUES(
            #{title},#{introduction},#{img},#{createTime},#{updateTime},
            #{controllerAdminId},#{numberOfPlays},#{numberOfGoods},#{type}
            ,#{isUserPublish},#{director},#{oneClassTagId},#{performer}
            ,#{twoClassTagIds},#{threeClassTagIds},#{isBlockSearch}
            ,#{publishAdminId})
    </insert>

    <insert id="videoAddToAlbum">
        INSERT INTO t_album_video(album_id,video_id) VALUES(
        #{albumId},#{videoId}
        )
    </insert>

    <delete id="videoRemoveToAlbum">
        delete from t_album_video where
        album_id = #{albumId} and video_id = #{videoId}
    </delete>

    <delete id="deleteById" parameterType="int">
        delete from video where id = #{id}
    </delete>

    <delete id="deleteByAlbumAndVideoId" parameterType="int">
        delete from t_album_video where album_id = #{albumId}
        and video_id = #{videoId}
    </delete>

    <select id="getInfoById" resultMap="BaseResultMap">
        select * from video where id = #{id}
    </select>

    <select id="getListByType" resultMap="BaseResultMap">
        select * from video v
        <if test="type != null and type != ''">
            where type = #{type}
        </if>
        <if test="isUserPublish != null and isUserPublish != ''">
            and is_user_publish = #{isUserPublish}
        </if>
    </select>

    <select id="getListByAlbumId" resultMap="BaseResultMap">
        select * from video where id in
        (select video_id from t_album_video where album_id = #{albumId})
    </select>


    <update id="toOnline" parameterType="java.util.List">
        update video set video.type = 1 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="toRecommend" parameterType="java.util.List">
        update video set video.type = 4 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="toRecycler" parameterType="java.util.List">
        update video set video.type = 3 where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <delete id="deleteForids" parameterType="java.util.List">
        DELETE from video WHERE id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByAlbumAndVideoIds" parameterType="java.util.List">
        DELETE from t_album_video where album_id = #{albumId}
        and video_id in
        <foreach item="id" collection="videoIds" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video where 1=1
        <if test="type != null and type != '' ">
            video.type = #{type}
        </if>
        <if test="title != null and title != '' ">
            and title like '%${title}%'
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="isUserPublish != null">
            and is_user_publish = #{isUserPublish}
        </if>
        <if test="publishAdminName != null and publishAdminName != ''">
            and publish_admin_id in (select id from admin where user_name = #{publishAdminName})
        </if>
    </select>

    <select id="selectForPageByalbumId" resultMap="BaseResultMap">
        select * from video where video.id in (
        select video_id from t_album_video where album_id = #{albumId}
        )
        <if test="title != null and title != '' ">
            and video.title like '%${title}%'
        </if>
        <if test="videoId != null">
            and video.id = #{videoId}
        </if>
    </select>

    <update id="update" parameterType="com.ljf.duanshipin.domain.Video">
        update video
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="director != null">
                director = #{director},
            </if>
            <if test="oneClassTagId != null">
                one_class_tag_id = #{oneClassTagId},
            </if>
            <if test="twoClassTagIds != null">
                two_class_tag_ids = #{twoClassTagIds},
            </if>
            <if test="threeClassTagIds != null">
                three_class_tag_ids = #{threeClassTagIds},
            </if>
            <if test="publishAdminId != null">
                publish_admin_id = #{publishAdminId},
            </if>
            <if test="controllerAdminId != null">
                controller_admin_id = #{controllerAdminId},
            </if>
            <if test="isBlockSearch != null">
                is_block_search = #{isBlockSearch},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="numberOfGoods != null">
                number_of_goods = #{numberOfGoods},
            </if>
            <if test="numberOfPlays != null">
                number_of_plays = #{numberOfPlays},
            </if>
            <if test="performer != null">
                performer = #{performer},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>