.content{
    display: block;
    background-color: #fff;
}
.content .inner_c{
    width: 1000px;
    margin: 0 auto; /*让导航条、内容区域等部分的版心在父亲里居中*/
}
.idnex-title{
    margin-top: 27px;
}
.idnex-title span{
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.person{
    width: 430px;
    height: 230px;
    float: left;
    margin-top: 20px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.person_bar{
    margin-top: 10px;
}
.person_bar span{
    font-size: 18px;
    color: #333;
    margin-left: 20px;
}
.person_content{
    margin-top: 30px;
}
.content_img{
    width: 128px;
    height: 128px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.content_ul_div{
    display: inline-block;
}
.content_ul_div ul{
    margin-left: 50px;
    float: left;
    list-style: none;
}
.content_ul_div li{
    line-height: 32px;
}
.content_ul_div li span{
    color: #333;
    font-size: 14px;
}
.tips{
    width: 500px;
    height: 450px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.tips_bar{
    margin-top: 10px;
}
.tips_bar span{
    font-size: 18px;
    color: #333;
    margin-left: 20px;
}
.tips_ul_div ul{
    list-style: none;
    margin-top: 10px;
}
.tips_ul_div ul li{
    height: 40px;
    border-bottom-style:dashed;
    border-bottom-color: #EBEBEB;
    border-bottom-width: 1px;
    font-size: 14px;
    line-height: 40px;
    margin-left: 30px;
}