body{
    background-color: #44c9a8;
}
.div-vertical-center{
    position: relative;
    width: 890px;
    height: 100%;
    margin: 0 auto;
}
.div-login-back{
    width: 350px;
    height: 450px;
    left: 50%;
    margin-left: -175px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    color: rgb(153, 153, 153);
    border-radius: 10px;
    border-color: initial;
    background-color: white;
    top: 100px;
}
.div-logo{
    position: relative;
    width: 99px;
    height: 97px;
    top: 12px;
    margin: 0 auto;
}
.img-logo{
    width: 99px;
    height: 97px;
}
.div-login-u2{
    position: relative;
    width: 350px;
    height: 47px;
    top: 20px;
    color:#44c9a8;
    line-height: 28px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}
.div-login-u3{
    position: relative;
    top: 30px;
    height: 150px;
    width: 350px;
}
.div-login-form-u1{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    left: 25px;
}

.input-form-login-accpw{
    position: relative;
    width: 280px;
    height: 45px;
    padding-left: 5px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    outline: none;
    font-size: 14px;
    left: 5px;
}
.input-form-login-vcode{
    padding-left: 5px;
    border:solid 1px #d9d9d9;
}
.div-login-form-u2{
    position: relative;
    width: 300px;
    left: 25px;
    height: 35px;
    top: 10px;
}

.div-login-form-u3{
    position: relative;
    width: 300px;
    left: 25px;
    height: 25px;
    top: 35px;
}

.input-form-login-vcode{
    position: absolute;
    width: 180px;
    height: 45px;
    outline: none;
    border: 1px solid rgb(180,180,180);
    border-radius: 3px;
    margin-top: 0;
}

.img-vcode{
    position: absolute;
    margin: auto;
    width: 80px;
    height: 45px;
    right: 0px;
}
.div-login-form-u4{
    position: relative;
    top: 35px;
    left: 25px;
    background-color: #ff4646;
    border-radius: 3px;
    width: 300px;
    height: 30px;
    line-height: 30px;
    display: none;
}
.div-login-form-u4 span{
    position: relative;
    color: #ffffff;
    left: 20px;
}
.span-remember{
    color:#333333;
    font-size: 14px;
}
.btn-login{
    position: relative;
    width: 300px;
    left: 25px;
    height: 35px;
    top: 40px;
    background-color: #44c9a8;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}