.form {
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}

.from-item-publish-content {
    width: 400px;
}

#input-intro {
    height: 120px;
    width: 300px;
    border: 1px solid #DCDFE6;
}

.form-btn-upload {
    height: 40px;
    display: inline-block;
}

.form-img-upload {
    width: 100px;
    display: inline-block;
}

.form-img-upload {
    width: 150px;
    height: 150px;
}

#form-input-isEnd {
    width: 20px;
    height: 15px;
}

#form-input-isEnd-span {
    margin-right: 20px;
}

#from-item-content-input-w200 {
    width: 200px;
}

.select_auth_user {
    height: 40px;
    width: 200px;
}

.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.choose-book {
    background-color: rgb(68, 201, 168);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 0px;
    line-height: 40px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 15px;
}

.select_inner {
    height: 135px;
    width: 100%;
    overflow-y: scroll;
    flex: 1;
    -webkit-box-flex: 1;
    background: #fff;
}

.div-select {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    cursor: pointer;
}

.select_font {
    height: 35px;
    width: 80%;
    background: #ffffff;
    padding-left: 15px;
    font-size: 15px;
    z-index: 99999;
    cursor: pointer;
}

.one-tag-dialog {
    top: 40px;
    z-index: 2038;
    position: absolute;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #606266;
    border: 1px solid #E4E7ED;
    width: 100%;
    height: 135px;
}