.form{
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}
.from-item-publish-content{
    width: 400px;
}
#input-intro{
    height: 120px;
    width: 300px;
    border: 1px solid #DCDFE6;
}
.form-btn-upload{
    height: 40px;
    display: inline-block;
}
.form-img-upload{
    width: 100px;
    display: inline-block;
}
.form-img-upload{
    width: 150px;
    height: 150px;
}
#form-input-isEnd{
    width: 20px;
    height: 15px;
}
.form-input-isEnd-span{
    margin-right: 20px;
}
#from-item-content-input-w200{
    width: 200px;
}
.select_auth_user{
    height: 40px;
    width: 200px;
}
.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}
.choose-book{
    background-color: rgb(68, 201, 168);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 0px;
    line-height: 40px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 15px;
}