<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/index.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">

    <!-- hander  -->
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>


</head>
<body>
<script type="text/javascript">
    writeHander()
    writeLoginLayout()
</script>
<div class="dialog_wrapper" id="dialog_loginout_wrapper" style="z-index: 2008;">
    <div class="dialog">
        <div class="dialog_header">
            <span class="login-dialog-title">退出确认</span>
        </div>
        <div class="dialog_body">
            <div class="dialog-form-item">
                <span>确定要退出登录吗？</span>
            </div>
            <div>
                <button class="dialog-form-btn-save" id="dialog_loginout_enter">
                    <a href="/logout" style="color: #fff;">
                        确定
                    </a>
                </button>
                <button class="dialog-form-btn-cancel" id="dialog_loginout_cancel">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="main_content">
        <div class="idnex-title">
            <span>欢迎进入视频后台管理系统</span>
        </div>
        <div class="person">
            <div class="person_bar">
                <span>个人信息</span>
            </div>
            <div class="person_content">
                <img src="/duanshipin/img/logo.png" alt="" class="content_img">
                <div class="content_ul_div">
                    <ul>
                        <li><span>姓名：</span><span th:text="${userName}"></span></li>
                        <li><span>部门：</span><span th:text="${role}">产品部</span></li>
                        <li><span>最近登录：</span><span
                                th:text="${#dates.format(lastLoginTime, 'yyyy-MM-dd HH:mm:ss')}"></span></li>
                        <li><span>登录次数：</span><span th:text="${loginMun}+次">次</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tips">
            <div class="tips_bar">
                <span>重要提醒</span>
            </div>
            <div class="tips_content">
                <div class="tips_ul_div">
                    <ul>
                        <li>
                            <a href="#">#中秋节你吃月饼了吗【话题】即将下线</a>
                        </li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        writeLeft()
    </script>
</div>
</body>
<script th:src="@{/duanshipin/js/loginAndUserinfo.js}"></script>

</html>