<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="../css/project.css" type="text/css">
    <link rel="stylesheet" href="../../../static/css/project.css" type="text/css">
    <link rel="stylesheet" href="../../../static/css/views/operationvideo.css" type="text/css">
    <!-- hander  -->
    <script src="../../../static/js/page_top.js" type="text/javascript"></script>
</head>
<body>
<div class="body">
    <script type="text/javascript">
        writeHander()
    </script>
    <div class="content">
        <div class="inner_c">
            <div class="left">
                <div class="left_nav">
                    <div id="item">
                        <span>视频管理</span>
                    </div>
                    <div class="item_one_one">
                        <span>专辑管理</span>
                    </div>
                    <div class="item_one_two">
                        <span>影视管理</span>
                    </div>
                    <div id="item">
                        <span>标签管理</span>
                    </div>
                    <div class="item_two_one">
                        <span>标签管理</span>
                    </div>
                </div>
            </div>
            <div class="main_content">
                <div class="title">
                    <span>专辑管理</span>
                </div>
                <div class="title_line">
                </div>
                <div class="title_bar">
                    <div class="operate_video_pool">
                        运营视频池
                    </div>
                    <div class="user_video_pool">
                        用户视频池
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>