@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }  /*去掉边框、去掉轮廓（比如输入框外面的蓝边框）*/

/*去掉列表前面的圆点*/
ul, ol {
    list-style: none;
}
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}  /*字体一般是指定这两个*/
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*禁止文本输入框在右下角拖拽（因为拖动后会调整输入框大小）*/
img {border:0;	vertical-align:middle; }  /* 去掉图片底侧默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";  /*\5b8b\4f53指的是宋体*/
    color:#666;
    background:#eaeff3;
}

/*start:清除浮动【推荐此方式进行清除浮动】。左浮动和右浮动都清除了，盒子刚好达到闭合的状态*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
/*end：清除浮动*/

a {color:#666; text-decoration:none; }  /*去掉超链接的下划线*/
a:hover{color:#C81623;} /*鼠标悬停时的颜色*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;} /*font-size:100% 的意思是：让它们和父亲一样大，避免在不同的浏览器中显示大小不一致*/
s,i,em{font-style:normal;text-decoration:none;}  /*去掉i标签和em的斜体，取消s标签的删除线*/
.col-red{color: #C81623!important;}

/*公共类*/
.w { /*版心（可视区）。需要专门提取出来 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}


.hide {
    display: none
}
.div-body{
    background: #44c9a8
}

/*  导航栏  */
.hander{
    height: 58px;
    background-color: #fff;
    border-bottom:0.2px solid #44c9a8;
}
 /*导航条的logo*/
.logo{
    float: left;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    background-color: #44c9a8;
}
.logo_img{
    width: 40px;
    height: 40px;
    /* position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); */
}
.hander_per_icon{
    width: 40px;
    height: 40px;
    background-color: #44c9a8;
    border-radius: 50px;
    margin-top: 9px;
    margin-left: 25px;
}
.hander_per_name{
    line-height: 58px;
    vertical-align: top;
    color: #333;
    font-size: 18px;
    margin-left: 10px;
}
.account_controll{
    display: inline-block;
    position: absolute;
    line-height: 58px;
    margin-right: 15px;
    right: 0px;
}
.account{
    display: inline-block;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background-color: #44c9a8;
    font-size: 14px;
    color: #fff;
    text-decoration: none;    
}
.logo_out{
    display: inline-block;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background-color: #E6A23C;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
/*  内容 */
.content{
    overflow: hidden;
    position: absolute;
    height:auto;
    top: 58px;
    bottom: 0;
    padding-left: 233px;
 }
 .left{
    width: 58px;
    height: 100%;
    position: relative;
    margin-left: -100%;
    left: -233px;
    float: left;
    background-color: #282b3a;
}
.left_item{
    height: 58px;
    width: 58px;
}
.left_item a{
    vertical-align: middle;
    text-decoration: none;
    color: #999;
}
.left_item img{
    width: 25px;
    height: 25px;
}
.left_two{
    width: 170px;
    height: 100%;
    margin-left: -100%;
    left: -175px;
    position: relative;
    float: left;
    background-color: #fff;
 }
.main_content{
    margin-top: 5px;
    width: 100%;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
     float: left;
     background: #fff;
 }