<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="../css/project.css" type="text/css">
    <link rel="stylesheet" href="../static/css/views/index.css" type="text/css">
    <link rel="stylesheet" href="../static/css/project.css" type="text/css">
      <!-- hander  -->
      <script src="../static/js/page_top.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">
        writeHander()
    </script>
<div class="content">
    <div class="inner_c">
        <div class="title">
            <p>欢迎进入视频后台管理系统</p>
        </div>
        <div class="person">
            <div class="person_bar">
                <span>个人信息</span>
            </div>
            <div class="person_content">
                <img src="../static/img/logo.png" alt="" class="content_img">
                <div class="content_ul_div">
                    <ul>
                        <li><span>姓名：</span><span></span>吴彦祖</span></li>
                        <li><span>部门：</span><span>产品部</span></li>
                        <li><span>最近登录：</span><span>2018-09-21 13:59</span></li>
                        <li><span>登录次数：</span><span>555次</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tips">
            <div class="tips_bar">
                <span>重要提醒</span>
            </div>
            <div class="tips_content">
                <div class="tips_ul_div">
                    <ul>
                        <li>
                            <a href="#">#中秋节你吃月饼了吗【话题】即将下线</a>
                        </li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                        <li><a href="#">#中秋节你吃月饼了吗【话题】即将下线</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>