<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/login.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/login.js}"></script>
</head>
<body>
<div class="div-body">
    <div class="div-vertical-center">
        <div class="div-login-back">
            <div class="div-logo">
                <img src="/duanshipin/img/logo.png" class="img-logo">
            </div>
            <div class="div-login-u2">
                <p>
                    <span>视频后台管理系统</span>
                </p>
            </div>
            <!-- 登录框 -->
            <div class="div-login-u3">
                <form action="" method="post">
                    <div class="div-form">
                        <div class="div-login-form-u1" id="div-login-form-u1">
                            <input type="text" class="input-form-login-accpw" id="inputAccount" value="Admin" onblur="inputLoseFocuse()"
                                   onfocus="inputGetFocuse()" placeholder="请输入用户名">
                            <input type="password" class="input-form-login-accpw" id="inputPassword" value="123456" onblur="inputLoseFocuse()"
                                   onfocus="inputGetFocuse()" placeholder="请输入密码">
                        </div>
                        <!-- 验证码框 -->
                        <div class="div-login-form-u2">
                            <input type="text" class="input-form-login-vcode" id="inputVcode"
                                   onblur="vcodeLoseFocuse()" onfocus="vcodeGetFocuse()" placeholder="请输入验证码">
                            <img class="img-vcode" src=""/>
                        </div>
                        <div class="div-login-form-u3">
                            <input type="checkbox">
                            <span class="span-remember">记住账号</span>
                        </div>
                        <div class="div-login-form-u4" id="div-login-form-u4">
                            <span>用户名或密码不正确</span>
                        </div>
                    </div>
                </form>
                <button class="btn-login" onclick="login()">
                    登录
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>