<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.duanshipin.mapper.LoginLogMapper">

    <update id="updateByAdminId">
        update login_log set 0=0
        <if test="lastTime != null">
            ,last_time = #{lastTime}
        </if>
        <if test="loginMun != null">
            ,login_mun = #{loginMun}
        </if>
        where admin_id = #{adminId}
    </update>

</mapper>