
.div_item input{
    height: 23px;
    width: 148px;
    border: 1px solid #999;
}
.div_item span{
    display: inline-block;
    color: #333;
    font-size: 14px;
}
.div_item select{
    height: 25px;
    width: 150px;
    border: 1px solid #999;
}
