<!DOCTYPE html>
<html lang="en">
<!-- 被举报视频预览 -->

<head>
    <meta charset="UTF-8" />
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="../../../static/css/project.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/css/views/commonLayout.css" type="text/css" />
    <link rel="stylesheet" href="../../../static/css/views/videoRepotrPreview.css" type="text/css" />
    <!-- hander  -->
    <script src="../../../static/js/commonLayout.js" type="text/javascript"></script>
</head>

<body>
    <div class="body">
        <script type="text/javascript">
            writeHander()
        </script>
        <div class="content">
            <div class="main_content">
                <div class="full-content">
                    <div class="title">
                        <span>被举报视频预览</span>
                    </div>
                    <div class="title_line"></div>
                    <div class="play-and-intro-position clearfix">
                        <div class="div-player">

                        </div>
                        <div class="div-intro">
                            <div class="div-intro-item">
                                <label>所属专辑：</label>
                                <div class="div-intro-content">
                                    <span>
                                        办公室爆笑锦集
                                    </span>
                                </div>
                            </div>

                            <div class="div-intro-item">
                                <label>所属专辑ID：</label>
                                <div class="div-intro-content">
                                    <span>
                                        98713
                                    </span>
                                </div>
                            </div>

                            <div class="div-intro-item">
                                <label>专辑推荐语：</label>
                                <div class="div-intro-content">
                                    <span>
                                        我是一只推荐语，用户都很喜欢我呢
                                    </span>
                                </div>
                            </div>

                            <div class="div-intro-item">
                                <label>视频名称：</label>
                                <div class="div-intro-content">
                                    <span>
                                        办公室爆笑锦集第一集
                                    </span>
                                </div>
                            </div>


                            <div class="div-intro-item">
                                <label>视频ID：</label>
                                <div class="div-intro-content">
                                    <span>
                                        987123
                                    </span>
                                </div>
                            </div>


                            <div class="div-intro-item">
                                <label>视频简介：</label>
                                <div class="div-intro-content">
                                    <span>
                                        办公室爆笑锦集第一集
                                    </span>
                                </div>
                            </div>


                            <div class="div-intro-item">
                                <label>视频推荐语：</label>
                                <div class="div-intro-content">
                                    <span>
                                        我是一只推荐语，用户都很喜欢我呢
                                    </span>
                                </div>
                            </div>

                            <div class="div-intro-item">
                                <button style="margin-left: 15px;">下线</button>
                                <button>正常</button>
                            </div>
                        </div>
                    </div>
                    <div class="report-content">
                        <div>
                            <div class="tabs-header">
                                <div class="tablist">
                                    <div id="tabs-frist" class="tabs-item">
                                        举报详情
                                    </div>
                                    <div id="tabs-second" class="tabs-item">
                                        举报历史
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-table">
                            <table id="table-one" class="content_table">
                                <tr>
                                    <th class="table_th">
                                        <div>举报人ID</div>
                                    </th>
                                    <th class="table_th">
                                        <div>举报人昵称</div>
                                    </th>
                                    <th class="table_th">
                                        <div>举报类型</div>
                                    </th>
                                    <th class="table_th">
                                        <div>举报描述</div>
                                    </th>
                                    <th class="table_th">
                                        <div>举报时间</div>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="table_td">
                                        <div>987123</div>
                                    </td>
                                    <td class="table_td">
                                        <div>@Luffy</div>
                                    </td>
                                    <td class="table_td">
                                        <div>政治敏感</div>
                                    </td>
                                    <td class="table_td">
                                        <div>嗯嗯嗯对对对</div>
                                    </td>
                                    <td class="table_td">
                                        <div>2018-7-20 12:00</div>
                                    </td>
                                </tr>
                            </table>
                            <table id="table-two" class="content_table">
                                <tr>
                                    <th class="table_th">
                                        <div>ID</div>
                                    </th>
                                    <th class="table_th">
                                        <div>举报次数</div>
                                    </th>
                                    <th class="table_th">
                                        <div>处理人</div>
                                    </th>
                                    <th class="table_th">
                                        <div>处理时间</div>
                                    </th>
                                    <th class="table_th">
                                        <div>处理结果</div>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="table_td">
                                        <div>987123</div>
                                    </td>
                                    <td class="table_td">
                                        <div>@Luffy</div>
                                    </td>
                                    <td class="table_td">
                                        <div>政治敏感</div>
                                    </td>
                                    <td class="table_td">
                                        <div>嗯嗯嗯对对对</div>
                                    </td>
                                    <td class="table_td">
                                        <div>2018-7-20 12:00</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                writeLeft()
                writeCustomerControl();
            </script>
        </div>
    </div>
</body>
<script src="../../../static/js/videoReportPreview.js" type="text/javascript"></script>

</html>