<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 用户管理 -->

<head>
    <meta charset="UTF-8"/>
    <title>视频管理平台</title>
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{/duanshipin/css/project.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/userManage.css}" media="all">
    <link rel="stylesheet" th:href="@{/duanshipin/css/views/commonLayout.css}" media="all">

    <!-- hander  -->
    <script th:src="@{/duanshipin/js/commonLayout.js}"></script>
    <script th:src="@{/duanshipin/js/common.js}"></script>
    <script th:src="@{/duanshipin/js/utils/ajax.js}"></script>
    <script th:src="@{/duanshipin/js/utils/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/duanshipin/js/userManage.js}"></script>
</head>
<body>
<div class="body">
    <script type="text/javascript">
        writeHander()
    </script>
    <div class="content">
        <div class="main_content">
            <div class="title">
                <span>用户管理</span>
            </div>
            <div class="title_line"></div>
            <!-- 上线按钮显示的布局 -->
            <div class="controll_operation" id="controll_online">
                <div class="controll_operation_one">
                    <span>粉丝量：</span>
                    <select>
                        <option value="volvo"> &lt; 10000</option>
                        <option value="saab">&gt; 10000</option>
                    </select>
                    <span>用户昵称：</span>
                    <input type="text">
                </div>
                <div class="controll_operation_two">
                    <span>作品量：</span>
                    <select>
                        <option value="volvo"> &lt; 10000</option>
                        <option value="saab">&gt; 10000</option>
                    </select>
                    <span>用户ID：</span>
                    <input type="text">
                    <span style="margin-left: 25px;">是否被禁：</span>
                    <select>
                        <option value="volvo"></option>
                        <option value="saab">是</option>
                        <option value="saab">否</option>
                    </select>
                    <button class="btn-search">查询</button>
                    <div class="fr controll-operation-two-fr">
                        <img src="/duanshipin/img/img_fresh.png" alt="" class="fresh"/>
                    </div>
                </div>
            </div>
            <div class="table_div" id="table-content">
            </div>
            <div class="page_select" id="page_select">
                <div class="page_select_inner">
                    <span>共</span>
                    <span id="page-total-mun"></span>
                    <span>条</span>
                    <span class="page_select_position_one">每页</span>
                    <input type="number" class="page_input_mun"/>
                    <span>条</span>
                    <img src="/duanshipin/img/last_page.png" alt="" class="last_page"/>
                    <ul class="page_select_ul">
                    </ul>
                    <img src="/duanshipin/img/next_page.png" alt="" class="last_page"/>
                    <span class="page_select_position_two">前往</span>
                    <input type="number" class="page_input_to_mun"/>
                    <span>页</span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            writeLeft()
            writeUserManage()
        </script>
    </div>
</div>
</body>
<script type="text/javascript">
    initView();
    getAdmins();
</script>
</html>